@media screen and (max-width: 1005px) {
    .navbar {
      
        display: none;
    }

    .links
    {
        display: none;
       

    }

    .logo
    {
       margin: 0;
       text-align: center;
       
       

    }

    header
    {
        position: relative;
        top: 150px;
    
    }

    .infomacoes
    {
        flex: 100%;
        text-align: center;

    }
}